* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -moz-margin: 0;
    -moz-padding: 0;
    -moz-box-sizing: border-box;
    -moz-font-family: 'Roboto', sans-serif;
    -webkit-margin: 0;
    -webkit-padding: 0;
    -webkit-box-sizing: border-box;
    -webkit-font-family: 'Roboto', sans-serif;
  }
  